* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Metal Mania", system-ui;
    background-image: url('fondoMotoRacer.png'); 
    background-size: cover;
    background-position: center;
}
body::before {
    position: fixed;
    width: 200%;
    height: 200%;
    z-index: -1;
    background: black;
    opacity: 0.6;
}


.logo {
    width: 80px;
    height: auto;
    margin-right: 10px;
}

.fondo {
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -1;
    background-color: black;
    opacity: 0.7;
}


.icono {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    z-index: 1;
    color: white;
    font-size: 300px;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Metal Mania", system-ui;
    font-size: 70px;
    color: #ffffff; /* Color del texto */
    margin-top: 50px;
    text-shadow: 
    7px -1px 0 #1c51a0,  
    1px -1px 0 #1c51a0,  
    -1px 1px 0 #1c51a0,  
    3px 5px 0 #1c51a0; /* Cambia el color y tamaño del contorno según necesites */
        
 }

 .container_forms {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
 }

 .form1 {
    margin-left: 500px;
 }

 .form2 {
    margin-left: 300px;
    margin-bottom: 200px;
 }

 .form-group {
    width: 50px;
    height: 100px;
    margin-top: 20px;
 }

.form-group label{
    margin-bottom: 10px;
    font-size: 30px;
    color: white;
}

.form-group input{
    margin-top: 20px;
    height: 40px;
    width: 200px;
    margin-right: 45px;
    border-radius: 14px;
}

.form-group input:focus{
    border: 3px solid #007BFF;
}
/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Para centrar vertical y horizontalmente */
    background-color: #f4f4f4; /* Fondo claro */
  }
  
  /* Tarjeta del usuario */
  .user-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 30px;
    width: 400px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #fff;
    font-size: 1.2em; /* Tamaño de fuente general */
  }
  
  /* Estilo del título */
  .user-card h3 {
    margin: 0;
    color: #333;
    font-size: 1.5em; /* Título más grande */
  }
  
  /* Estilo de los párrafos */
  .user-card p {
    margin: 15px 0;
    color: #666;
  }
  
  
