* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
  
    font-family: "Metal Mania", system-ui;

    background-image: url('/imagenes/fondo.webp');
    background-size: cover; /* This will contain the image on top of the gradient */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;

    z-index: 1;
    background: none;
   
    
}

.fondo{
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -2;
    background: linear-gradient(0deg, rgba(74, 150, 236, 0.8), rgba(74, 174, 231, 0.8));
}


.inicio-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(80vh - 50px);
    margin-left: 150px;
    filter: drop-shadow(0 0 0.5rem rgb(255, 255, 255));
}
.inicio-img{
    max-width: 45%;
    height: 426px;
}
h2{
    font-size: 55px;
    color: white;
    text-align: center;
    margin-top: -78px;
    margin-left: 112px;
    font-weight: bold;
    text-shadow: 
    -1px -1px 0 #000000,  
    1px -1px 0 #000,  
    -1px 1px 0 #000,  
    3px 3px 0 #000;  /* Cambia el color y tamaño del contorno según necesites */
}
.noti{
    position: absolute;
    z-index: 50;
    right: 50px;
    top: 30px;
    background-color: #ffffff00;
    cursor: pointer;
    border: none;
}
.notificaciones {
    position: absolute;
    z-index: 100;
    right: 20px;
    top: 120px;
    width: 300px;
    height: auto;
    max-height: 80vh;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 10px 0 0 10px;
    overflow-y: auto;
    display: none; /* Oculto por defecto */
}

.notificaciones h3 {
    text-align: center;
    font-size: 18px;
}

.notificaciones ul {
    list-style: none;
    padding: 0;
}

.notificacion {
    background: #222;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    font-size: 14px;
}
