* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Metal Mania", system-ui;
  background-image: url("fondoMotoRacer.png");
  background-size: cover;
  background-position: center;
}
body::before {
  position: fixed;
  width: 200%;
  height: 200%;
  z-index: -1;
  background: black;
  opacity: 0.6;
}

.main-content {
  padding: 20px;
  transition: margin-left 0.3s ease;
  height: 100vh;
  margin-right: 50px;
}

.main-content h1 {
  color: white;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 50px;
}

.form-section {
  padding: 0 10%;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: white;
  filter: drop-shadow(0px 0px 10px #bebfc5);
}

th,
td {
  border: 1px solid #666;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #444;
  font-weight: bold;
  text-align: center;
}

td {
  background-color: #222;
  text-align: center;
}

.text-center {
  font-size: 18px;
  display: flex;
  justify-content: center;
  padding: 30px;
  width: 100%;
  height: 100%;
}

.text-center i {
  padding: 5px;
}

input[type="checkbox"] {
  transform: scale(1.5); /* Ajusta el número para cambiar el tamaño */
  margin: 5px;
}

#inventario {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    3px 3px 0 #000;

}

h1 {
  font-family: "Metal Mania", system-ui;
  font-size: 70px;
  color: #ffffff; /* Color del texto */
  text-shadow: 7px -1px 0 #1c51a0, 1px -1px 0 #1c51a0, -1px 1px 0 #1c51a0,
    3px 5px 0 #1c51a0; /* Cambia el color y tamaño del contorno según necesites */
}
.search-bar {
  position: fixed;
  top: 9px;
  right: 141px;
  z-index: 1000;
  display: flex;
  align-items: center;
  transition: width 1s ease; /* Animación de deslizamiento */
  width: 55px; /* Tamaño reducido por defecto */
  overflow: hidden;
}

.search-bar:hover {
  width: 400px; /* Tamaño al hacer hover */
}

.search-bar form {
  margin-right: 90px;
  margin-top: 90px;
  display: flex;
  align-items: center;
}

.search-icon {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 8px;
  font-size: 3em;
  text-shadow: 3px 1px 0 #1c51a0, 2px 3px 0 #1c51a0;
}

.search-bar input {
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  font-size: 1.7em;
}

.search-bar:hover input {
  width: 400px; /* Anchura al hacer hover */
  padding: 5px 10px; /* Añadir espaciado */
}

.search-bar input::placeholder {
  color: #aaa;
  font-size: 18px;
}

/*filtrar por*/
.filter-bar {
  position: fixed;
  top: 150px;
  right: 200px;
  z-index: 1000;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
}

.filter-bar label {
  color: aliceblue;
  margin-right: 10px;
}

.filter-bar .form-control {
  font-size: 1.2em;
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-family: Georgia, "Times New Roman", Times, serif;
}
/* Barra lateral (Menú) */
.sidebar {
  width: 100px;
  height: 100vh;
  background: linear-gradient(180deg, #1167cc, #083972, #000000);
  transition: width 0.3s ease;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999 !important;
}

.sidebar:hover {
  width: 270px;
}

/* Ajuste de contenido cuando el menú se expande */
.sidebar:hover ~ .main {
  margin-left: 270px;
}

/* Ajuste de contenido cuando el menú se expande */
.sidebar:hover ~ .main-content {
  margin-left: 270px;
  transition: margin-left 0.3s ease;
}

/* Contenido principal */
.main-content {
  padding: 20px;
  transition: margin-left 0.3s ease;
  height: 100vh;
  margin-left: 100px; /* Ajustado al tamaño inicial de la barra */
  margin-right: 50px;
}
.boton-accion.marcarL {
  background-color: rgb(11, 128, 0);
  color: #ffffff;
  font-size: 18px;
}
.boton-accion.marcarN {
  background-color: rgb(190, 46, 46);
  color: #ffffff;
  font-size: 18px;
}

 /* Estilos básicos para el modal */
 .modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 78%);
}



.close {
  position: absolute;
  right: 31%;
  top: 14%;
  cursor: pointer;
  font-size: 44px;
  color: white;
  margin-left: 13px;
}

.close i {
  font-size: 15px;
  color: #ffffff;
  cursor: pointer;
  transition: color 0.3sease-in-out;
  border: 2px solid #ffffff;
  padding: 8px;
  border-radius: 50%;
}

.close i:hover {
  background: #c00a0a; /* Cambia a rojo cuando pasas el mouse */
}



form#editForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px; /* Ajusta el espacio entre columnas */
  row-gap: 10px; /* Ajusta el espacio entre filas */
  align-items: center; /* Alinea los elementos verticalmente */
}

#editForm label {
  color: white;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 2px 0 #1c51a0;
  white-space: nowrap;
  text-align: left; /* Alinea el texto a la izquierda */
  padding-right: 10px; /* Añade espacio a la derecha */
  margin-bottom: 5px; /* Ajusta el margen inferior */
}

form input[type="text"], #editForm select {
  background-color: #ffffff;
  border-radius: 23px;
  height: 31px;
  width: calc(100% - 34px); /* Ajusta el ancho al tamaño del contenedor */
  color: #000;
  padding: 0 17px; /* Añade espacio a la izquierda del input */
  border: none;
  font-size: 14px;
  margin-bottom: 5px; /* Ajusta el margen inferior */
}

.modal-content {
  width: 35%;

  text-align: center;
  background-color: rgb(174 174 174 / 46%);
  padding: 23px;
  border-radius: 18px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 7%;
  margin-left: 35%;
}
.modal-content h2 {
  font-size: 38px;
  margin-top: -5%;
  color: white;
  text-shadow: 4px -2px 0 #1c51a0, -3px -1px 0 #1c51a0, -3px 1px 0 #1c51a0, -2px 3px 0 #1c51a0;
  margin-left: 13px;
  letter-spacing: 5px;
  padding: 16px;
}

.modal { display: none; }
.modal.show { display: block; }
.modal.hide { display: none; }


/* MÓVILES */
/* Horizontal */
@media screen and (max-width: 870px) and (orientation: landscape) {

}

/* Vertical */
@media screen and (max-width: 767px) and (orientation: portrait) {

}


/* TABLETS */
/* Horizontal */
@media (min-width: 871px) and (max-width: 1023px) and (orientation: landscape) {

}

/* Vertical */
@media screen and (min-width: 870px) and (max-width: 1023px) and (orientation: portrait) {

}