* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Metal Mania", system-ui;
    background-image: url('fondoMotoRacer.png'); 
    background-size: cover;
    background-position: center;
}
body::before {
    position: fixed;
    width: 200%;
    height: 200%;
    z-index: -1;
    background: black;
    opacity: 0.6;
}

.container {
    
    background-color: rgba(174, 174, 174, 0.59); /* Mantiene el fondo semitransparente */
    border-radius: 10px;
    justify-content: space-between;
    width: 1400px;
    height: 850px;
    margin: auto;
    margin-top: 30px;
    
    transition: margin-left 0.3s ease, background-color 0.3s ease; /* Agregar transición suave */
}

.sidebar {
    width: 100px;
    height: 100vh;
    background: linear-gradient(180deg, #1167CC, #083972, #000000);
    transition: width 0.3s ease;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
}

.sidebar:hover {
    width: 270px;
}

/* Ajuste de contenido cuando el menú se expande */
.sidebar:hover ~ .container {
    margin-left: 270px !important;
}

/* Ajuste cuando el menú se expande */
.sidebar:hover ~ .main-content {
    padding-left: 290px; /* Mantiene la misma distancia cuando el menú se despliega */
    transition: padding-left 0.3s ease;
}

/* Mantener la distancia de los lados */
.main-content {
    padding: 20px;
    transition: padding-left 0.3s ease;
    height: 100vh;
    width: calc(100% - 150px); /* Mantiene el ancho total menos el margen derecho */
    margin: auto;
    margin-top: 30px;
    margin-right: 50px;
    padding-left: 120px; /* Espacio inicial del menú cerrado */
}
.user-info{
    margin-top: 100px;
    margin-left: 100px;
    
}

.user-info h2{
    text-align: start;
    margin-left: 10px;
    font-size: 45px;
    margin-top: 10px;
}
.payment-section{   
    margin-top: 100px;

 }

 .payment-section h2{
    text-align: start;
    margin-left: 100px;
    font-size: 45px;
 }
.summary-section{
    margin-top: 80px;
    background-color: white;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    margin-right: 310px;

}

input{
    
    height: 45px;
    width: 20%;
    font-size: 15px;
    border-radius: 5px;
}
.user-info label{
    font-size: 25px;
    margin-left: 30px;
    text-shadow:
    -1px -1px 0 rgb(0, 140, 255),
    1px -1px 0 rgb(0, 140, 255),
    -1px 1px 0 rgb(0, 140, 255),
    1px 1px 0 rgb(0, 140, 255);
}
#tipo_doc{
    margin-top: 50px;
    margin-left: 20px;
    height: 30px;
    width: 20%;
    font-size: 15px;
    border-radius: 5px;
}
#apellido{
    margin-left: 18.4%;
}

.payment-methods {
margin-right: 100px;
margin-left: 0px;
}
.payment-methods h3{
    font-size: 25px;
    font-weight: normal;
    margin-left: 30px;
    margin-top: 35px;
    text-shadow:
    -1px -1px 0 rgb(0, 140, 255),
    1px -1px 0 rgb(0, 140, 255),
    -1px 1px 0 rgb(0, 140, 255),
    1px 1px 0 rgb(0, 140, 255);
}

.content{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
}
button{
    margin-left: 10px;
    background-color: #1AA906;
    cursor: pointer;
    width: 90px;
    height: 30px;
    color: white;
    border-radius: 15px;

}
input[name="valor_efectivo"] {
    height: 45px;
   
    
}

.payment-box select{
    margin-left: 20px;
    width: 20%;
    height: 40px;
    font-size: 15px;
    border-radius: 5px;


}
.payment-box input {
    
    height: 45px;
    width: 35%;
    font-size: 15px;
    border-radius: 5px;
    margin-left: 20px;
}
input[name="valor_tarjeta"]{
    margin-left: 0px;
}
.notes h3{
    font-size: 25px;
    font-weight: normal;
    margin-left: 30px;
    margin-top: 35px;
    text-shadow:
        -1px -1px 0 rgb(0, 140, 255),
        1px -1px 0 rgb(0, 140, 255),
        -1px 1px 0 rgb(0, 140, 255),
        1px 1px 0 rgb(0, 140, 255);
        
}
textarea[name="observaciones"]{
    margin-left: 20px;
    width: 33%;
    height: 100px;
}
 .summary-section h3{
    margin-top: 20px;
    border-radius: 10px;
    width: 300px;
    margin-left: 30px;
    text-shadow:
        -1px -1px 0 rgb(255, 251, 0),
        1px -1px 0 rgb(255, 251, 0),
        -1px 1px 0 rgb(255, 251, 0),
        1px 1px 0 rgb(255, 251, 0);
    margin-right: 310px;
 }
 p {
    font-size: 16px;
    color: #333;
    margin: 5px 0;
    margin-left: 30px;
    margin-top: 10px;
}

p span {
    font-weight: bold; /* Hacer que los valores sean más visibles */
    color: #007bff; /* Azul para resaltar los montos */
    margin-left: 10px; /* Espacio entre el texto y el monto */
}
.total{
    margin-left: 90px;
}

.save-btn{
    margin-left: 70px;
    margin-top: 10px;
    width: 150px;
    height: 40px;
}
button:hover {
    background-color: #0056b3; /* Azul más oscuro */
}