        /* Ejemplo de estilo para un recibo/tirilla de 80mm de ancho */
        body {
            width: 120mm;
            /* Ancho típico de rollo de impresora térmica */
            margin: 0 auto;
        }

        h1,
        h3,
        p {
            margin: 0;
            padding: 0;

        }

        body .footer {
            width: 405%;
            margin-left: -150%;
        }

        .factura {
            font-family: Arial, Helvetica, sans-serif;
            margin-top: 100px;
            border: 2px dashed #000;
            padding: 10px;
            background-color: #ffffff;
            font-size: 1.2em;
            max-height: calc(100vh - 100px);
            /* resta los pixeles que ocupen header/nav e botones */
            overflow-y: auto;
        }

        #menu:hover~.ubica {
            margin-left: calc(9% + 20px);
            /* 20px de empuje extra */
        }

        .factura p {
            margin: 50px;
        }

        .factura-header h2 {
            font-size: 30px;
            margin-top: 30px;
            margin-bottom: 30px;
            margin-right: 10px;
            margin-left: 10px;
            color: #000;
            text-shadow: none;
        }

        .factura-header,
        .factura-footer {
            text-align: center;
            margin-bottom: 10px;
        }

        .factura-datos-cliente {
            margin-bottom: 10px;
        }

        .factura-productos table {
            width: 100%;
            border-collapse: collapse;
        }

        .factura-productos th,
        .factura-productos td {
            text-align: left;
            padding: 4px;
            border-bottom: 1px solid #ccc;
        }

        .factura-total {
            text-align: right;
            margin-top: 10px;
            font-size: 1.2em;
        }

        .factura-header img {
            width: 280px;
        }

        hr {
            width: 100%;
            border: 1px solid #000;

            margin-bottom: 20px;
        }

        @media print {
            @page {
                margin: 20mm;
                /* Ajusta según sea necesario */
            }

            body {

                padding: 20px;
            }


        }

        .factura {
            margin: 20px auto;
            /* Ajusta el valor para separarla más */
            margin-top: 90px;
            padding: 10px;
            background: white;
            width: 100%;
            /* Ajusta según el diseño */
        }


        .btn-descargar-imagen {
            margin: 10px 0;
            padding: 8px 12px;
            background-color: #4CAF50;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .btn-descargar-imagen:hover {
            background-color: #45a049;
        }


        .btn-descargar {
            color: white;
            border: none;
            padding: 10px 15px;
            font-size: 21px;
            cursor: pointer;
            border-radius: 5px;
            transition: background 0.3s;
            background-color: #860303;
            margin-top: 31px;
        }

        .btn-descargar:hover {
            background-color: #6d0202;
        }

        .btn-descargar label {
            cursor: pointer;

        }

        #btnImprimir {
            color: white;
            border: none;
            padding: 10px 15px;
            font-size: 21px;
            cursor: pointer;
            border-radius: 5px;
            transition: background 0.3s;
            background-color: rgb(32 69 113);
            margin-top: 95px;
        }

        #btnImprimir:hover {
            background-color: rgb(42, 88, 145);
        }

        #btnImprimir label {
            cursor: pointer;

        }

        .form-descarga {
            position: absolute;
            right: 505px;
            margin-top: -26px;
        }


        .impuestos-container {
            display: flex;
            flex-direction: column;
        }

        .metodo-pago {
            margin-top: 10px;
            font-weight: bold;
        }

        table {
            border-collapse: collapse;
            /* Evita bordes dobles */
            width: 100%;
        }

        th,
        td {
            border: none;
            /* Elimina los bordes */
            padding: 8px;
        }

        .metodo-pago-tabla tr:nth-last-child(2) td {
            border-bottom: none;
        }

        .modo-alto-contraste tr:nth-child(odd),
        .modo-alto-contraste tr:nth-child(even) {
            background-color: rgb(255, 255, 255) !important;
            color: #000 !important;
        }

        .modo-alto-contraste table,
        .modo-alto-contraste th,
        .modo-alto-contraste td {
            background-color: white !important;
            color: #000 !important;
        }