* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 61%;
    /* margin: 38px auto; */
    text-align: center;
    background-color: rgb(174 174 174 / 46%);
    padding: 23px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 65px;
    margin-left: 462px;
}
body::before {
    position: fixed;
    width: 200%;
    height: 200%;
    z-index: -1;
    background: black;
    opacity: 0.6;
  }
.fondo {
    position: absolute;
    width: 100%;
    height: 100%;
}

.logo_inicio {
    position: absolute;
    z-index: 1;
    width: 40%;
    height: 45%;
    margin-right: 800px;
    margin-bottom: 50px;
}

.barra {
    position: absolute;
    z-index: 2;
    width: 6px;
    height: 500px;
    background-color: white;
    margin-left: 10%;
}

h1 {
    font-size: 50px;
    margin-top: 92px;
    color: white;
    text-shadow: 7px -1px 0 #1c51a0, 1px -1px 0 #1c51a0, -1px 1px 0 #1c51a0, 3px 5px 0 #1c51a0;
    margin-left: 44%;
    letter-spacing: 5px;
    padding: 18px;
    letter-spacing: 5px;
}


form {
    position: relative;
    margin-top: -56px;
    margin-left: 2px;
    width: 97%;
}

select#rol{
    background-color: #ffffff;
    border-radius: 24px;
    height: 40px;
    width: 277px;
    color: #000;
    padding: 0px 0px 0px 10px;
    border: none;
    font-size: 14px;
    margin-bottom: 12px;
}

input[type="number"] { 
    margin: 0;
    background-color: #ffffff;
    border-radius: 24px;
    height: 40px;
    width: 277px;
    color: #000;
    padding: 0px 0px 0px 10px;
    border: none;
    font-size: 13px;
    margin-bottom: 12px;

    /* Ocultar las flechas en navegadores WebKit (Chrome, Safari, Edge) */
    -webkit-appearance: none;
    -moz-appearance: textfield; /* Para Firefox */
}

/* Para navegadores WebKit (Chrome, Safari, Edge) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

form input[type="text"]  {
    background-color: #ffffff;
    border-radius: 24px;
    height: 40px;
    width: 277px;
    color: #000;
    padding: 0px 0px 0px 10px;
    border: none;
    font-size: 13px;
    
}

form input[type="email"],
form input[type="tel"],
form input[type="password"]{
    background-color: #ffffff;
    border-radius: 24px;
    height: 40px;
    width: 277px;
    color: #000;
    padding: 0px 0px 0px 10px;
    border: none;
    font-size: 13px;
    margin-bottom: 12px;
}
form[name="formulario_recuperar"] {
    margin-top: 0%;
}
.password {
    margin-bottom: 30px;
}

input::placeholder {
    color: black;
    font-size: 20px;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50px;
    height: 70px;
    width: 200px;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 30px;
}

.inicio {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 25px 65px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 30px;
}

.inicio:hover {
    background-color: #0056b3;
}
.form-grid  {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 25px;
   
}

.campo {
    display: flex;
    flex-direction: column;
    width: 316px;
    max-width: 101%;
    padding: 10px;
    margin-bottom: 1.5px;
}
.campo1{
    display: flex;
    flex-direction: column;
    width: 316px;
    max-width: 101%;
    padding: 10px;
    margin-bottom: 4.5px;
    margin-left: 86px;
 }
.campo label {
    margin-bottom: 5px;
    color: white;
   
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 0 #1c51a0;
    white-space: nowrap;
}
.campo1 label{
    margin-bottom: 5px;
    color: white;
    
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 0 #1c51a0;
    white-space: nowrap;
}
.button_container {
    text-align: center;
    margin-top: 64px;
    display: flex;
    margin-left: 45%;
    gap: 19px;
    
}


.button_container  .boton  {
   
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007BFF;
    font-weight: bold;
    color: white;
    border: none;
    padding: 3px 4px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 24px;
    transition: background-color 0.3s ease;
    margin-right: 3%;
    width: 182px;
    height: 56px;
    display: flex; 
    text-decoration: none;
    line-height: 50px;
    font-family: Arial, Helvetica, sans-serif;

    
}


.button_container  .boton:hover {
    background-color: #0056b3;
}


.botonn {
    display: inline-block; /* Se comporta como un botón */
    font-weight: bold;
    padding: 3px 4px; /* Espaciado interno */
    background-color: #007BFF; /* Color de fondo (azul) */
    color: white; /* Color del texto */
    text-decoration: none; /* Quitar el subrayado */
    border-radius: 24px; /* Bordes redondeados */
    font-size: 1.2rem; /* Tamaño del texto */
    text-align: center; /* Centrar el texto */
    transition: background-color 0.3s ease; /* Efecto al pasar el cursor */
    width: 182px;
    height: 56px;
    line-height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  
  .botonn:hover {
    background-color: #0056b3; /* Color más oscuro al pasar el cursor */
  }
  select#preguntaSeguridad{
    background-color: #ffffff;
    border-radius: 24px;
    height: 40px;
    width: 278px;
    color: #000;
    padding: 0px 0px 0px 10px;
    border: none;
    font-size: 14px;
    margin-bottom: 12px;
}