* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
}

.fondo {
    position: absolute;
    width: 100%;
    height: 100%;
}

.logo_inicio {
    position: absolute;
    width: 40%;
    height: 45%;
    margin-right: 800px;
    margin-bottom: 50px;
    z-index: 1;
}

.barra {
    position: absolute;
    width: 6px;
    height: 500px;
    background-color: white;
    margin-left: 10%;
    z-index: 2;
}

h1 {
    font-family: "Metal Mania", system-ui;
    position: absolute;
    color: white;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000, -1px 1px 0 #000, 3px 3px 0 #000;
    font-size: 60px;
    margin-left: 50%;
    margin-bottom: 25%;
    z-index: 2;
}

form {
    position: absolute;
    margin-top: 103px;
    margin-left: 49%;
    z-index: 2;
}

form label {
    margin-bottom: 5px;
    color: white;
    display: block;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 0 #1c51a0;
    white-space: nowrap;
}

form input {
    display: block;
    background-color: #ffffff;
    border-radius: 24px;
    height: 40px;
    width: 277px;
    color: #000;
    padding: 0px 0px 0px 10px;
    border: none;
    font-size: 13px;
    margin-bottom: 30px;
}

/* Botones */
.button_container {
    text-align: center;
    display: flex;
    gap: 19px;
    margin-top: 16%;
    margin-left: 5%;
}

.button_container .boton, .botonn {
       background-color: #007bff;
    font-weight: bold;
    color: white;
    border: none;
    padding: 11px 23px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}
.button_container  .botonn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007BFF;
    font-weight: bold;
    color: white;
    border: none;
    padding: 3px 4px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 24px;
    transition: background-color 0.3s ease;
    width: 180px;
    height: 56px;
    text-decoration: none;
    line-height: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.button_container .boton:hover, .botonn:hover {
    background-color: #0056b3;
}
select#preguntaSeguridad{
    background-color: #ffffff;
    border-radius: 24px;
    height: 40px;
    width: 278px;
    color: #000;
    padding: 0px 0px 0px 10px;
    border: none;
    font-size: 14px;
    margin-bottom: 36px;
}
/*ALERTAS*/

/* Estilos generales de los párrafos */
p {
    font-size: 16px;
    color: black;
    font-family: arial;
    padding: 10px;
  }
  

  
  /* Ajuste para el popup de SweetAlert */
  div:where(.swal2-container).swal2-center>.swal2-popup {
    width: 28%; /* Se ajusta automáticamente */
    max-width: 350px; /* Define un límite de ancho */
  }
  
  

.custom-alert .tornillo, .custom-alert .moto, .custom-alert .llave {
    width: 201px;
    height: 145px;
}

  
  
  /* Contenedor de la imagen */
  .contenedor-imagen {
    position: relative;
    display: inline-block;
  }



.titulo-alerta {
    font-size: 28px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    font-family: 'Arial Black', sans-serif;
    letter-spacing: 1px;
}

.titulo-alerta.confirmacion {
    font-family: 'Metal Mania', system-ui;
    font-size: 1.01em;
    letter-spacing: 3px;
    color: #9b9496;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000, -1px 1px 0 #000, 3px 3px 0 #000;
    margin: auto;
}
.titulo-alerta.error {
    font-family: 'Metal Mania', system-ui;
    font-size: 1.01em;
    letter-spacing: 3px;
    color: #af3b3b;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000, -1px 1px 0 #000, 3px 3px 0 #000;
    margin: auto;
}
.titulo-alerta.advertencia {
    font-family: 'Metal Mania', system-ui;
    font-size: 1.01em;
    letter-spacing: 3px;
    color:#e09804;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000, -1px 1px 0 #000, 3px 3px 0 #000;
    margin: auto;
}


.btn-aceptar {
    background-color: #007bff !important;
    color: white !important;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
}

.swal2-border-radius {
    border-radius: 5px !important;
}



.fondo-oscuro {
    background-color: rgba(0, 0, 0, 0.7) !important; /* Fondo oscuro */
    backdrop-filter: blur(2px); /* Opcional: desenfoque sutil */
}

.swal2-popup {
    border-radius: 20px;
}

/*Parametros contraseña*/
/* Cada .campo como contenedor relativo */
.campo {
  position: relative;
}

/* Requisitos de contraseña */
.requisitos {
    list-style: none;
    padding-left: 0;
}



.requisitos li {
    text-decoration: none;
    color: rgb(184, 26, 26);
    -webkit-text-stroke: 0.4px rgb(0, 0, 0);
    text-align: left;
}

.requisitos li.validado {
    color: rgb(20, 177, 41) !important; /* Verde oscuro */
    -webkit-text-stroke-width: 1px;
    text-decoration: none !important;
    -webkit-text-stroke: 0.4px rgb(0, 0, 0);
}

.ventana-requisitos {
    position: absolute;
    top: 50%;
    left: 105%;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.842);
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    z-index: 999;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}



/* Si tu mensaje está dentro de un <p> con id="mensaje-confirmar": */
#mensaje-confirmar {
    font-size: 14px; /* o el tamaño que prefieras */
  
  }



/* Puedes usar esta clase si deseas cambiar el color del texto de la regla validada */
.validado {
    color: green;
}





  