

/* Contenedor principal */
.accesibilidad-container {
  position: fixed;
  right: 20px;
  top: 0px;
  transform: translateY(-50%);
  z-index: 9999;
  transition: all 0.3s ease;
}

/* Botón principal */
.accesibilidad-btn {
  background: #1c51a0;
  border: none; 
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.accesibilidad-btn i {
  font-size: 2em;
}

.accesibilidad-btn:hover {
  transform: scale(1.1) rotate(15deg);
}

/* Panel de opciones */
.accesibilidad-panel {
  position: absolute;
  right: 60px;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 8px;
  backdrop-filter: blur(5px);
  width: 180px;
}

.accesibilidad-container:hover .accesibilidad-panel {
  opacity: 1;
  visibility: visible;
  right: 70px;
}

.accesibilidad-panel button {
  padding: 0.8rem;
  font-size: 1rem;
  color: aliceblue;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  flex-shrink: 0;
  width:100%;
  height: 100%;
}

.accesibilidad-panel button:hover {
  background-color: #0056b3;
}

/* Tipografía dislexia */
.tipografia-dislexia * {
  font-family: 'OpenDyslexic', sans-serif !important;
  line-height: 1.6 !important;
  letter-spacing: 0.12em !important;
}

/* Botones deshabilitados */
.accesibilidad-panel button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background: #ddd !important;
  color: #666 !important;
}

.control-fuente {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 5px;
  align-items: center;
}

/* Botón y panel - Posición fija */
.accesibilidad-container {
  position: fixed;
  right: 30px;
  top: 88%;
  transform: translateY(-50%);
  z-index: 1001;
  /* Superior al sidebar */
  pointer-events: none;
  /* Contenedor no bloquea eventos */
}

/* Elementos interactivos */
.accesibilidad-btn,
.accesibilidad-panel,
.accesibilidad-panel button {
  pointer-events: auto;
  /* Solo estos elementos reciben eventos */
}

/* Aislar completamente del sidebar */
.accesibilidad-container::before {
  content: '';
  position: absolute;
  top: -50px;
  right: -50px;
  bottom: -50px;
  left: -50px;
  background: transparent;
  z-index: -1;
}

/*
=============================================================================================================
 Modos de contraste lista de productos
 =============================================================================================================
 */

.modo-alto-contraste,
.modo-alto-contraste .sidebar,
.modo-alto-contraste .sidebar-header,
.modo-alto-contraste .menu,
.modo-alto-contraste .modal-content {
  color: #FFFFFF !important;
  border-color: #FFFF00 !important;
}
.modo-alto-contraste .sidebar-header {
  background-color: #000000;
}
.modo-alto-contraste .sidebar-header .logo {
  filter: drop-shadow(0px 0px 5px #ffffff);
}
.modo-alto-contraste .menu{
  background-color: #000000;
}
.modo-alto-contraste .container h3 {
  font-weight: normal;

}
.modo-alto-contraste .payment-methods h3 {
  margin-left: 0px;
  padding: initial;
}

.modo-alto-contraste .icon{
  color: #ffffff;
}

.modo-alto-contraste .sidebar-header .logo {

  filter: drop-shadow(0px 0px 5px #ffffff);
}

.modo-alto-contraste, .modo-alto-contraste .body,.modo-alto-contraste .main-content{
  background-color: #000000c5 !important;
}
.modo-alto-contraste .main-content{
  background-color: #dbdbdb00 !important;
}

/* Tablas */
.modo-alto-contraste table,
.modo-alto-contraste th,
.modo-alto-contraste td {
  border: 1px solid #ffffff !important;
  background-color: #161616 !important;
}
.modo-alto-contraste tr:nth-child(odd),
.modo-alto-contraste tr:nth-child(even) {
    background-color: black ;
    color: rgb(255, 255, 255);
}
.modo-alto-contraste .category-table{
  background-color: rgba(245, 245, 220, 0);
}
.modo-alto-contraste .td-options {
  background-color: #161616 !important;
}

.modo-alto-contraste th {
  background-color: #000000 !important;
  color: #ffffff !important;
}

/* 1. Dropdown de filtros */
.modo-alto-contraste .filter-button {
  background-color: #000 !important;
  color: #ffffff !important;
  border: 2px solid #ffffff !important;
}

.modo-alto-contraste .filter-button::after {
  border-top-color: rgb(53, 155, 27) !important;
}

.modo-alto-contraste .filter-button:hover {
  background-color: #3b8d34 !important;
  color: #000 !important;
  border: 2px solid #ffffff !important;
}

/* 2. Input de búsqueda */
.modo-alto-contraste .form-control[type="text"] {
  color: #FFF !important;
  border: 2px solid #ffffff !important;
}

.modo-alto-contraste .form-control::placeholder {
  color: #CCC !important;
}

/* 3. Botón de búsqueda */
.modo-alto-contraste .search-button {
  background-color: #000000 !important;
  color: #ffffff !important;
  border: 2px solid #FFF !important;
  font-weight: bold;
}
.modo-alto-contraste .search-icon{
  border: none;
}
.modo-alto-contraste .search-button:hover {
  background-color: #3c4fa3 !important;
  color: #000 !important;
  border: 2px solid white !important;
}

/* 4. Botón de exportar */
.modo-alto-contraste .icon-button {
  background-color: #000 !important;
  color: #ffffff !important;
  border: 2px solid #ffffff !important;
}

.modo-alto-contraste .icon-button:hover {
  background-color: #3b8d34 !important;
  color: #000 !important;
  border: 2px solid #ffffff !important;
}
.modo-alto-contraste button{
  border: 2px solid #ffffff;
  color: #ffffff;
  background-color: #000;
}
.modo-alto-contraste .search-icon{
  background-color: #ffffff00;

}

.modo-alto-contraste .noti{
  border:none;
  background-color: #00000000;
}
.modo-alto-contraste .recibo-button{
  background-color:#00000000 ;
  border: none;
}
.modo-alto-contraste .edit-button{
  background-color:rgba(255, 222, 173, 0);
  border:rgba(255, 222, 173, 0) ;
}
.modo-alto-contraste .delete-button{
  background-color:rgba(255, 222, 173, 0);
  border:rgba(255, 222, 173, 0) ;
}

/* 5. Botón de eliminar seleccionados */
.modo-alto-contraste #delete-selected {
  background-color: #00000000 !important;
    color: #ffffff00 !important;
    border: 2px solid #ffffff00 !important;;
}

.modo-alto-contraste #delete-selected:hover {
  color: #FF0000 !important;
}

/* 
=============================================================================================================
Modo claro lista de productos
=============================================================================================================
*/
.modo-claro,
.modo-claro body,
.modo-claro .sidebar,
.modo-claro .menu,
.modo-claro .modal-content {
  background-color: white;
  color: #000000;
  border-color: #FFFF00 !important;
}
.modo-claro #crearProveedor .campo label{
color:black;
text-shadow: 1.5px 0 #1c51a0;
}
.modo-claro .modal-content{
  background-color: #ffffffa6;
}
.modo-claro #editForm label{
  text-shadow: 1px 0 #1c51a0;
  color: #000000;
}

.modo-claro .filter-options{
  background-color: rgba(255, 255, 255, 0.438);
}
.menu li a {
  color: black; /* Los íconos heredarán este color */
}
.modo-claro #barraReportes{
  border: 2px solid #000000 !important;;
}
.modo-claro .button-container .boton button {
  background-color: #000;
  
}
.modo-claro .button-container .boton button:hover{
  background-color: #007BFF;
}
.modo-claro .button-container .boton button#eliminar {
  background-color: #000;
}
.modo-claro animated-icons {
  filter: invert(1) brightness(1.5);
}
.modo-claro .noti animated-icons {
  filter: none !important;
}

.modo-alto-contraste .noti {
    filter: invert(1) brightness(1.5);
}

.modo-claro .edit-button i, .modo-claro .delete-button i{
  color: black !important;
}

.modo-claro .backup-type{
  color: black;
}

.modo-claro .main-content{

  background: #22222200;
}
.modo-claro .sidebar{
  background-color: #dbdbdbc9 !important;
}
.modo-claro main {
  background-color: #ffffffc7; /* Color claro con transparencia */
  border: 2px solid #000000; /* Borde oscuro para contraste */
}
.modo-claro label{
  color: #000;
}

/* Tablas */
.modo-claro table,
.modo-claro th,
.modo-claro td {
  border: 1px solid #000000 !important;
  background-color: #ffffff !important;
  color: #000000 !important;	
}
.modo-claro .search-icon{
  border: none;
  background-color: #00000000;
}
.modo-claro table {
  background-color: #ffffff !important;
  color: #000000 !important;
  text-shadow: none;
}

.modo-claro .acciones i{
  color: #000000 !important;
}
.modo-claro .content > div {
  flex: 1;
  margin-right: 40px;
  padding: 43px;
}
.modo-claro .user-info {
  display: flex;
  flex-direction: column;
  gap: 21px;
}
/* 1. Dropdown de filtros */
.modo-claro .filter-button {
  background-color: #ffffff !important;
  color: #000000 !important;
  border: 2px solid #000000 !important;
}
.modo-claro .edit-button{
  background-color:rgba(255, 222, 173, 0);
  border:rgba(255, 222, 173, 0) ;
}
.modo-claro .delete-button{
  background-color:rgba(255, 222, 173, 0);
  border:rgba(255, 222, 173, 0) ;
}
.modo-claro .filter-button::after {
  border-top-color: rgb(53, 155, 27) !important;
}

.modo-claro .filter-button:hover {
  background-color: #3b8d34 !important;
  color: #000 !important;
  border: 2px solid #000000 !important;
}

.modo-claro button{
  border: 2px solid #000000;
  color: #ffffff;

}
.modo-claro .noti{
  border: none;
  background-color: #00000000;
}
/* 2. Input de búsqueda */
.modo-claro .form-control[type="text"] {
  background-color: #ffffff !important;
  color: #000000 !important;
  border: 2px solid #000000 !important;
}

.modo-claro .form-control::placeholder {
  color: #868585 !important;
}

/* 3. Botón de búsqueda */
.modo-claro .search-button {
  background-color: #ffffff !important;
  color: #000000 !important;
  border: 2px solid #000000 !important;
  font-weight: bold;
}

.modo-claro .search-button:hover {
  background-color: #3c4fa3 !important;
  color: #000 !important;
  border: 2px solid rgb(0, 0, 0) !important;
}

/* 4. Botón de exportar */
.modo-claro .icon-button {
  background-color: #ffffff !important;
  color: #000000 !important;
  border: 2px solid #000000 !important;
}

.modo-claro .icon-button:hover {
  background-color: #3b8d34 !important;
  color: #000000 !important;
  border: 2px solid #000000 !important;
}

/* 5. Botón de eliminar seleccionados */
.modo-claro #delete-selected {
  background-color: #ffffff00 !important;
    border: 2px solid #00000000 !important;
}


.modo-claro #delete-selected i {
  color: #000000 !important;
}

.modo-claro #delete-selected:hover {
  color: #FF0000 !important;
}
.modo-claro #product-form .campo label{
  text-shadow: none;
  font-weight:bold;
}
.modo-claro .icon-button label{
  color: #000;
}
.modo-claro #crearProducto i {
  color: #000;
}
.modo-claro .campo label{
  color: #000;
  text-shadow: 2px 0 #608bcd;
  font-weight: bold;
}
.modo-claro .bx-tada{
  color: #ffffff;
}
/*
=====================================================================================================================================================Modo de contraste Gestion de Usuarios
=====================================================================================================================================================
*/

.modo-alto-contraste .fondo-opaco {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.modo-alto-contraste .actions button {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
 border: 2px solid #000000;
}
.modo-alto-contraste .button-container .boton button {
  background-color: #ffffff;
  color: #000;
  
}
.modo-alto-contraste .modo-claro .content {
  display: flex
;
  justify-content: space-evenly;
  margin-left: -200px;
  margin-top: 10%; 
}
.modo-alto-contraste .button-container .boton button:hover{
  background-color: #007BFF;
}
.modo-alto-contraste .button-container .boton button#eliminar {
  background-color: #ffffff;
  color: #000;
}

.modo-alto-contraste .actions button:hover {
  background-color: #219b40;
  color: #000000;
  border: 2px solid #000000;
}

.modo-alto-contraste .container h3 {
  background-color: #00000000;
  color: white;
  border-color: white 2px solid;
}

.modo-alto-contraste .user-table td {
  background-color: #1f1f1f !important;
  color: white !important;
}

/*
==============================================================================
  Modo Claro Gestio de Usuarios
==============================================================================
*/

.modo-claro .sidebar-header .logo {
  filter: drop-shadow(0px 0px 5px #000000);
}
.modo-claro .info-group span{
    border: 2px solid black; /* Grosor, estilo y color del borde */
}
.modo-claro .info-group label{
  color: #000;
  text-shadow: none;
}
.modo-claro .fondo{
  background-color: rgba(255, 255, 255, 0.548);
}
.modo-claro .sidebar-header {
  background-color: #ffffff;
}

.modo-claro .fondo-opaco {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #ffffff85;
  z-index: -1;
}
.modo-claro .content {
  display: flex
;
    justify-content: space-evenly;
    margin-left: -200px;
    margin-top: 10%;
}

.modo-claro .actions button {
  background-color: #000000;
  color: rgb(255, 255, 255);
  border: 2px solid #ffffff;
}

.modo-claro .actions button:hover {
  background-color: #219b40;
  color: #ffffff;
  border: 2px solid #000000;
}

.modo-claro .user-table td {
  background-color: #ffffff !important;
  color: rgb(0, 0, 0) !important;
}


/*
=====================================================================================================================================================
  Modo de contraste Stock
=====================================================================================================================================================
*/

.modo-alto-contraste main {
  background-color: #000000c5;
  border: 2px solid #ffffff; 
}
body.modo-alto-contraste {
  background-color: rgba(0, 0, 0, 0.7) !important;
  height: 100vh;
}

/*
=====================================================================================================================================================
  Modo de contraste Marca
=====================================================================================================================================================
*/
.modo-alto-contraste tr:nth-child(odd),
.modo-alto-contraste tr:nth-child(even) {
    background-color: black !important;
    color: rgb(255, 255, 255) !important;
}

.modo-alto-contraste .bx-tada{
  color: #000000;
}
.modo-alto-contraste .sidebar-right{
  color: #ffffff !important;
}
.modo-alto-contraste .resumen-scroll{
  background-color: #000000 !important;
  color: #000000 !important;
}
.modo-alto-contraste .sidebar-right h3{
  color: #ffffff !important;
}
.modo-alto-contraste #listaResumen li{
     background-color: #000000 !important;
    color: #ffffff !important;
}
.modo-alto-contraste .total{
  color: #ffffff !important;
}
.modo-alto-contraste .factura-header h2{
  color: #000000 !important;
}
.modo-alto-contraste .factura {
  color: #000000 !important;
}




.modo-alto-contraste .fondo{
  background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(74, 174, 231, 0.8));
}
.modo-claro .fondo{
  background: linear-gradient(0deg, rgba(255, 255, 255, 1), rgba(74, 174, 231, 0.8));
}
.modo-alto-contraste .notificaciones {
  background-color: #000000 !important;
  color: #ffffff !important;
}
.modo-alto-contraste #listaNotificaciones li{
  background-color: #000000 !important;
  color: #ffffff !important;
  border-top: 2px solid #ffffff !important;
  border-bottom: 2px solid #ffffff !important;
  border-right: 2px solid #ffffff !important;
}
.modo-claro #listaNotificaciones li{
  background-color: #ffffff !important;
  color: #000000 !important;
  border-top: 2px solid #000000 !important;
  border-bottom: 2px solid #000000 !important;
  border-right: 2px solid #000000 !important;
}
.modo-claro .notificaciones {
  background-color: #ffffff !important;
  color: #000000 !important;
}
.modo-alto-contraste .noti animated-icons {
  filter: invert(1) brightness(1.5);
}
.modo-claro .campo select {
  border: 2px solid #000000 !important;
}
.modo-claro .campo input {
  border: 2px solid #000000 !important;
}
.modo-claro h3  {
text-shadow: none;
}
.modo-claro .filter-options {
  background-color: rgb(255, 255, 255);
}
.modo-alto-contraste .filter-options {
  background-color: rgb(0, 0, 0);
}
.modo-claro .user-info
 {
  background-color: rgb(255, 255, 255);
  border: #ffffff 2px solid;
}
.modo-claro .payment-box{
  background-color: rgb(255, 255, 255);
  border: #000000 2px solid;
}
.modo-claro .summary-section{
  background-color: rgb(255, 255, 255);
  border: #000000 2px solid;
}
.modo-claro #tarjeta{
  border: none;
}
.modo-claro #otro.payment-box{
  border: none;
}


.modo-alto-contraste .user-info
 {
  background-color: rgb(0, 0, 0);
  border: #ffffff 2px solid;
}
.modo-alto-contraste .payment-box{
  background-color: rgb(0, 0, 0);
  border: #ffffff 2px solid !important;
}
.modo-alto-contraste .summary-section{
  background-color: rgb(0, 0, 0);
  border: #ffffff 2px solid;
}
.modo-alto-contraste#tarjeta{
  border: none;
}
.modo-alto-contraste#otro.payment-box{
  border: none;
}
.modo-alto-contraste .btn-cobrar{
  background-color: #000000;
  color: #ffffff;
  border: 2px solid #ffffff;
}
.modo-alto-contraste .btn-cobrar:hover{
  background-color: #007BFF;
  color: #ffffff;
  border: 2px solid #000000;
}
.modo-claro .btn-cobrar{
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #ffffff;
}
.modo-claro .btn-cobrar:hover{
  background-color: #007BFF;
  color: #ffffff;
  border: 2px solid #000000;
}

.modo-claro #listaResumen li{
  background-color: #ffffff !important;
  color: #000000 !important;
}
.modo-alto-contraste #tarjeta{
  border: none !important;
}
.modo-alto-contraste #otro.payment-box{
  border: none !important;
}
.modo-claro h2{
  color: #000000 !important;
}

.modo-claro .texto-debajo h2{
color: white !important;
}
.modo-claro .summary-section h3{
  color: #000000 !important;
}
.modo-claro button{
  background-color: #ffffff;
  color: #000000;
}
.modo-claro p{
  color: #000000;
}
.modo-claro .summary-section h2{
  color: white !important;
} 
.modo-claro .modo-claro .content > div{
  border: 2px solid #000000;
}
.modo-claro #tipo_doc {
  border: 2px solid #000000;
}
.modo-claro .tarjeta-content select {
  border: 2px solid #000000;
}
.modo-claro .tarjeta-content input {
  border: 2px solid #000000;
}
.modo-claro .otro-content select {
  border: 2px solid #000000;
  }
  .modo-claro .otro-content input {
    border: 2px solid #000000;
  }
  .modo-alto-contraste p{
    color: #ffffff;
  }
  .modo-alto-contraste .mi-icono-izquierdo{
    background-color: #000000 !important;
  }
  .modo-claro .btn-descargar{
    background-color: #00000000;
    color: #ffffff00;
    border: 2px solid #ffffff00;
  }
 .modo-alto-contraste .btn-descargar{
    background-color: #00000000;
    color: #ffffff00;
    border: 2px solid #ffffff00;   
 }
 .modo-alto-contraste .btn-descargar:hover{
   background-color: #007bff00;
   color: #ffffff;
   border: 2px solid #00000000;
 }
 .modo-claro .recibo-button{
   background-color:#00000000 ;
   border: none;
 }
 .modo-alto-contraste .modal-content{
   background-color: #000000 !important;
 }
 .modo-alto-contraste #modal-boton{
   background-color: #000000;
   color: white;
   border: white 2px solid;
 }
 .modo-claro .modal-content{
   background-color: #ffffff;
 }
 .modo-claro #modal-boton{
   background-color: #ffffff;
   color: #000000;
   border: 2px solid #000000;
   padding: none;
 }
 .modo-claro .close i{
  color: #000000;
  border: 2px solid #000000;
 }
 .modo-alto-contraste .bx bx-plus bx-tada{
  color: white  !important;
 }

 .modo-alto-contraste .sidebar {
      background: linear-gradient(180deg, #000000, #000000, #000000);
 }

 .modo-claro .sidebar {
      background: linear-gradient(180deg, #ffffff, #ffffff, #ffffff);
 }
 .modo-claro .card {
  background-color :#ffffff ;
 }
 .modo-alto-contraste .barraModulos{
    background-color:rgb(0, 0, 0);
}

.modo-alto-contraste .breadcrumb .brand {
  color: white;
}
.modo-claro .barraModulos{
    background-color:rgb(255, 255, 255);
}
.fuente-legible *:not(i):not([class^="fa"]):not([class*=" fa"]) {
    font-family: 'Lexend', Arial, sans-serif !important;
}
.modo-alto-contraste .btn-cancelar1:hover{
background-color: red  ;
}
.modo-claro .btn-cancelar1:hover{
background-color: red ;
}
.modo-alto-contraste .marcarL{
  background-color: rgb(0, 0, 0);
}
.modo-alto-contraste .marcarL:hover{
  background-color: rgb(11, 128, 0);
}
.modo-alto-contraste .marcarN{
  background-color: rgb(0, 0, 0); 
}
.modo-alto-contraste .marcarN:hover{
  background-color: rgb(128, 0, 0);
}
.modo-claro .marcarL{
  background-color: rgb(255, 255, 255);
}
.modo-claro .marcarL:hover{
  background-color: rgb(11, 128, 0);
} 
.modo-claro .marcarN{
  background-color: rgb(255, 255, 255);
}   
.modo-claro .marcarN:hover{
  background-color: rgb(128, 0, 0); 
}
.modo-alto-contraste .boton-accion{
  background-color: rgb(0, 0, 0);
}
.modo-alto-contraste .boton-accion:hover{
  background-color: rgb(255, 255, 255);
}

.modo-claro .icon-color{
  color: black;
}

.modo-alto-contraste .marcarL:hover{
  background-color: rgb(11, 128, 0);
}
.modo-alto-contraste .marcarN:hover{
  background-color: rgb(128, 0, 0);
}
.modo-alto-contraste .card{
  background-color: #000000;
}
.modo-alto-contraste .price-selector{
  color: white;
  background-color: black;
}
.modo-alto-contraste .resumen-scroll{
      border: 5px solid #000000;
}
.modo-alto-contraste .price-selector:focus{
  color:white !important;
 border-color: #000 !important;
}
.modo-alto-contraste #btnLeft{
  background-color: #000;

}
#icono-flecha-izquierda {
  filter: invert(0); /* Modo normal: sin cambio */
}

.modo-alto-contraste #icono-flecha-izquierda {  
  filter: invert(1); /* Modo contraste: blanco si la imagen es negra */
}
#icono-flecha-derecha {
  filter: invert(0); /* Modo normal: sin cambio */
}

.modo-alto-contraste #icono-flecha-derecha {  
  filter: invert(1); /* Modo contraste: blanco si la imagen es negra */
}

.modo-claro .menu li a img{
  /* filtro para iconos se pongan en color negro */
  filter: invert(1);
}
.modo-alto-contraste .boton-ayuda{
  background-color: black;
  border: 2px solid #ffffff
}
.modo-claro .boton-ayuda{
  background-color: white;
  color:black;
  border: 2px solid #000000
}
.modo-alto-contraste .stock{
  border:none;
  background-color: rgba(0, 0, 0, 0);
  filter: invert(1) brightness(1.5);
}
.modo-claro .stock{
  border:none;
  background-color: rgba(0, 0, 0, 0);
}
.modo-alto-contraste .metric-value{
  color: #ffffff;
}
.modo-alto-contraste .metric-card{
     background: linear-gradient(135deg, #000000 0%, #000000 100%);
    background-image: linear-gradient(135deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    border: 4px solid #000000;
}
.modo-alto-contraste .metric-card h4{
  color:white;
}
.modo-alto-contraste .chart-containe{
      background: #000000 !important;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    padding: 1.5rem;
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    aspect-ratio: 4 / 3;;
}
.modo-claro .metric-value{
  color: #000000;
}
.modo-claro .metric-card{
     background: linear-gradient(135deg, #ffffff 0%, #ffffff 100%);
    background-image: linear-gradient(135deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    border: 4px solid #000000;
}
.modo-claro .metric-card h4{
  color:rgb(0, 0, 0);
}
.modo-alto-contraste .ubica{
  background-color: black;
  color: white;
}
.modo-alto-contraste #product-form .campo label{
  color: white;
}
.modo-alto-contraste .modal-content label{
  color: rgb(255, 255, 255);
}

.modo-alto-contraste .pagination-dinamica button.active{
  background-color: black;
  color: #333;
}

.modo-alto-contraste .pagination-dinamica button{
  background-color: #000000;
  color:white ;
  border: none;
}
.modo-claro .pagination-dinamica button.active{
  background-color: rgb(255, 255, 255);
  color: #000000;
}

.modo-claro .pagination-dinamica button{
  background-color: #ffffff;
  color:rgb(0, 0, 0) ;
  border: none;
}
.modo-alto-contraste #filtros-btn{
  background-color: black;
}
.modo-claro #filtros-btn{
  background-color: white;
  color: black;
}
.modo-alto-contraste .btn-accion{
  background-color: #00000000;
  border-color: #00000000;
}
.modo-claro .btn-accion{
  background-color: #00000000;
  border-color: #00000000;
}

.modo-alto-contraste .btn-estado.activo{
  background-color: black;
}

.modo-alto-contraste .btn-estado.inactivo{
  background-color: black;
}

.btn-estado.activo:hover{
  background-color: green;
}
.btn-estado.inactivo:hover{
  background-color: darkred;
}
.modo-claro .btn-estado.activo{
  background-color: rgb(255, 255, 255);
}

.modo-claro .btn-estado.inactivo{
  background-color: rgb(255, 255, 255);
}
.modo-claro .btn-estado.inactivo:hover{
  background-color: darkred;
}
.modo-claro .btn-estado.activo:hover{
  background-color: green;
}
.modo-alto-contraste .btn-export{
  background-color: black;
}
.modo-claro .btn-export{
  background-color: rgb(255, 255, 255);
  color: black;
}
.modo-alto-contraste .boton-docsxls{
  background-color: black !important;
}
.modo-alto-contraste .boton-docsxls:hover{
  background-color: #1f5917K;
}